@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
   --light-foreground: var(--color-gray-700);
   --custom-rose: var(--color-rose-600);
}

[data-theme="dark"] {
   --background: #171717;
   --foreground: #ffffff;
   --light-foreground: var(--color-gray-400);
   --custom-rose: var(--color-rose-500);
}

* {
   transition: background-color 250ms ease-in-out,
      border-color 250ms ease-in-out, color 250ms ease-in-out,
      text-shadow 250ms ease-in-out, translate 300ms ease-in-out;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}
